<div ng-include = "src ='partials/navbar.html'"></div>

<div class = "container-fluid">
    <div class="alert alert-success alert-dismissable" hidden id="logoutnotif">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong style = "align:center">Succesfully logged out.</strong>
    </div>
    <div class="alert alert-info alert-dismissable" hidden id="new">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="dismiss()">&times;</button>
        <strong style = "align:center">One of Your Secret Submissions has been approved</strong> visit your <a href = "knownSecrets.html#know">Known Secrets</a> page to see the secret!
    </div>
    <div class="alert alert-warning alert-dismissable" id="review" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="dismiss()">&times;</button>
        <strong style = "align:center">You have a submission that needs to be reviewed</strong> visit the <a href = "knownSecrets.html#review">Review Submissions</a> page to approve or deny.</div>
    <div class="alert alert-success alert-dismissable" hidden id="submitsuc">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong style = "align:center">Secret Successfully Submitted!</strong> You will be notified when it is approved or denied.
    </div>
    <div class="alert alert-success alert-dismissable" hidden id="newsuc">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong style = "align:center">New Secret Created</strong> You will be notified when a submissions is made.
    </div>
</div>

<div class = "container-fluid">
    <div class = row>
        <div class = "col-sm-2">
        </div>
        <div class = "col-sm-9 col-md-9">
            <div class = "page-header">
                <h1 class = "text-center">Do a Task, Get a Secret- <small>Start learning secrets below</small></h1>
            </div>
            <div class = "page-header">
                <h3 class = "text-center">Have a Secret You Want to Share? </h3>
                <p class = "text-center">
                    <a href = "#/submit/" onclick = "" class = "btn btn-primary submitbutton btn-lg"> Submit your own!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class = "list">
        <ul ng-repeat="secret in secretsList">
            <li class="col-xs-4 secret">
                <a onclick="" href="#/secretPage/{{secret.id}}" class="thumbnail">
                    <div class="imagecontainer"><img src="{{secret.image}}"></div>
                    <div class="caption">
                        <span class="title">{{ secret.title }}</span>
                        <hr>
                        <span><b>Summary: </b>{{ secret.summary }} </span>
                        <hr>
                        <span><b>Task: </b>{{ secret.task }}</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

