<ul ng-repeat="secret in ownedSecrets">
    <li class="col-xs-4 secret">
        <a onclick="" href="#/secretPage/{{secret.objectId}}" class="thumbnail tile">
            <div class="imagecontainer"><img ng-src="{{secret.image}}"></div>
            <div class="caption">
                <span class="title">{{ secret.title }}</span>
                <hr>
                <span><b>Summary: </b>{{ secret.description }} </span>
                <hr>
                <span><b>Task: </b>{{ secret.task }}</span>
                <hr>
                <span><b>Submissions: </b>{{ secret.count }} ({{secret.completed}} approved)</span>
            </div>
        </a>
        <button class="btn btn-default col-xs-6" style="margin-top:-20px" ng-click="edit(secret.objectId)">Edit</button>
        <button class="btn btn-danger col-xs-6" style="margin-top:-20px" ng-click="delete(secret.objectId)">Delete</button>
    </li>

</ul>
<table id = "ownedTable" class = "table table-striped table-bordered" hidden>
    <thead>
    <tr><th>Title</th><th>Location</th><th>Category</th><th>Summary</th><th>Task</th><th>Secret</th><th>Image</th><th>Submission Count</th></tr>
    </thead>
    <tbody>
    <tr ng-repeat="secret in ownedSecrets">
        <td>{{secret.secret}}</td>
        <td>{{secret.location}}</td>
        <td>{{secret.category}}</td>
        <td>{{secret.task}}</td>
        <td><img ng-src="{{secret.image}}"></td>
        <td>{{secret.feedback}}</td>
    </tr>
    </tbody>
</table>