<div ng-include = "src ='partials/navbar.html'"></div>
<br/> <br/> <br/>
<div class = "container-fluid" style="margin-top:50px">
    <div class="alert alert-success alert-dismissable" hidden id="logoutnotif">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong style = "align:center">Succesfully logged out.</strong>
    </div>
    <div class="alert alert-info alert-dismissable" hidden id="new">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="dismiss()">&times;</button>
        <strong style = "align:center">One of Your Secret Submissions has been approved</strong> visit your <a href = "knownSecrets.html#know">Known Secrets</a> page to see the secret!
    </div>
    <div class="alert alert-warning alert-dismissable" id="review" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="dismiss()">&times;</button>
        <strong style = "align:center">You have a submission that needs to be reviewed</strong> visit the <a href = "knownSecrets.html#review">Review Submissions</a> page to approve or deny.</div>
    <div class="alert alert-success alert-dismissable" ng-show = "$root.subsuccess" id="submitsuc">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong style = "align:center">Secret Successfully Submitted!</strong> You will be notified when it is approved or denied.
    </div>
    <div class="alert alert-success alert-dismissable" hidden id="newsuc">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong style = "align:center">New Secret Created</strong> You will be notified when a submissions is made.
    </div>
</div>

<div class = "container-fluid">
    <div class = row>
        <div class = "col-sm-2">
        </div>
        <div class = "col-sm-9 col-md-9">
            <div class = "page-header">
                <h1 class = "text-center">Do a Task, Get a Secret- <small>Start learning secrets below</small></h1>
            </div>
            <div class = "page-header">
                <h3 class = "text-center">Have a Secret You Want to Share? </h3>
                <p class = "text-center">
                    <a href = "#/submit/" onclick = "" class = "btn btn-primary submitbutton btn-lg"> Submit your own!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin:0 40px 0 40px">
    <div class = "list">
        <div ng-repeat="secret in secretsList">
            <div class="col-md-4 col-xs-6">
                <a onclick="" href="#/secretPage/{{secret.id}}" class="thumbnail tile">
                    <div class="imagecontainer">
                        <img class="img-rounded img-responsive" src="{{secret.image}}" style="width:100%">
                    </div>
                    <div class="caption1">
                        <h5>{{ secret.title | mycut:true:40}}</h5>
                        <hr>
                        <span><b>Summary: </b>{{secret.summary | mycut:true:100 }} </span>
                        <hr>
                        <span><b>Task: </b>{{ secret.task | mycut:true:100 }}</span>
                    </div>

                </a>
            </div>

        </div>
    </div>
</div>

