<div ng-include = "src ='partials/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h1 id = "title">
                {{secret.title}} <br><small>{{secret.username}}</small>
            </h1>
            <ul id="project_navigation" class="nav nav-tabs">
                <li class="active"><a href="#description" data-toggle="tab" tab-dir>Description</a></li>
                <li><a href="#task" data-toggle="tab" tab-dir>Submit</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="description">
                    <br><p class="lead category"><b>Category: </b>{{ secret.category }}</p>
                    <p class="lead" id = "location"><b>Location: </b>{{ secret.location}}</p>
                    <p class = "lead" id ="summary"><b>Summary: </b>{{secret.description}}</p>
                    <p class = "lead taskdesc"><b>Task: </b>{{secret.task}}</p>
                </div>
                <div class="tab-pane" id="task">
                    <br><p class = "lead taskdesc"><b>Task: </b>{{secret.task}}</p>
                    <label for ="submission"><strong>Submission</strong><br><small>Prove that you have completed this task</small> </label>
                    <textarea ng-model = "submission" class = 'form-control' id='submission' placeholder = "Enter any text neccesary for proving you've completed the task (optional)"></textarea><br>
                    <div>
                        <div class="form-group col-xs-6" style = "margin-left: -15px">
                            <label for="picture">Photo <small>Upload picture proof</small></label><br>
                                <input type="file" id="picture">
                        </div>
                        <div class = "col-xs-6">
                            <br>
                            <button type = "button"class = "btn btn-primary pull-right" ng-click="submit()">Submit</button>

                        </div>
                    </div>
                    <div class = "row">
                        <img id = "mypic" ng-src = "{{image}}" style = "width:300px">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-4">
            <img id = "pic" ng-src = "{{secret.image}}" class = "img-thumbnail">
            <br/><br><p><strong id="scount">How many people know this secret: {{secret.completed}} </strong><br><strong id="acounts">Approval rate: {{approval}} </strong></p><p><h4 class= "yoursecret" hidden>This is your secret</h4></p>
        </div>
    </div>
</div>

