<table id = "submittedTable" class = "table table-striped table-bordered">
    <thead>
    <tr><th>Status</th><th>Title</th><th>Your Submission</th><th>Your Submission Image</th><th>Feedback</th></tr>
    </thead>
    <tbody>
    <tr ng-repeat="secret in wantedSecrets">
        <td>{{secret.submission.status}}</td>
        <td>{{secret.secret.title}}</td>
        <td>{{secret.submission.body}}</td>
        <td><img ng-src="{{secret.submission.image}}"></td>
        <td>{{secret.submission.feedback}}</td>
    </tr>
    </tbody>
</table>